<h2>{{titulo}}</h2>
<p>Añade tu videojuego:</p>
  <input type="text"
    [(ngModel)]="mi_videojuego"
    (blur) = "onBlur()"
    (keyup.enter) = "anadirVideojuego()"
    placeholder="Pon tu videojuego"
    id="caja_texto"
  >
  <button (click)="anadirVideojuego()">Añadir</button>
<h3>{{mi_videojuego}}</h3>
<ul>
  <li *ngFor="let videojuego of videojuegos; let i=index">
  {{i+1}}.- {{videojuego | titlecase }} -
  <button class = "borrar" (click)="borrarVideojuego(i)">Borrar</button>
  </li>
</ul>

<button (click)= "redirigir()">vete a Curso con el juego</button>
