<h2>{{titulo}}</h2>
<div>
  <p>Marcas: <span *ngFor="let marca of marcas; let i=index">{{marca}}. </span></p>
  <ul>
    <li *ngFor="let zapatilla of zapatillas">
      <span [ngStyle]= "{'text-decoration-line': !zapatilla.stock ? 'line-through': 'none'}">
        {{zapatilla.marca}} {{zapatilla.modelo}}, color:  {{zapatilla.color}} -
        <span [style.color]="zapatilla.precio < 100 ? 'green': zapatilla.precio > 200 ? 'red': 'black' ">
          {{zapatilla.precio}} €.
        </span>
        <ng-container *ngIf="zapatilla.stock; else elseTemplate">
          Disponible
        </ng-container>
        <ng-template #elseTemplate>
          Sin existencias
        </ng-template>
      </span>
    </li>
  </ul>
</div>
<span [ngSwitch]="folo">
  <p *ngSwitchCase="'algo'">
    Algo es algo
  </p>
  <p *ngSwitchCase="'folo'">
    Folo no es nada
  </p>
  <p *ngSwitchDefault>
    No es ni algo ni folo
  </p>
  </span>

