<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{config_titulo}}
    <br>
    ¡¡Hola {{ title }}!!
  </h1>
  <h3>
    <img width="80" alt="Angular Logo" src="https://svgsilh.com/svg/2448337.svg"
      style="transform: scaleX(-1)" [ngStyle]="{'background': config_fondo, 'border-radius': '60%'}">
    Yo para se feliz quiero un {{ camion }}.
    <img width="80" alt="Camion Logo" src="https://svgsilh.com/svg/2448337.svg"
      [ngStyle]="{'background': config_fondo, 'border-radius': '60%'}">
  </h3>
  <p>{{config_descripcion}}</p>
</div>
<nav>
  <a [routerLink]= "['/home']" [routerLinkActive]="['active']">Inicio</a>
  &nbsp;
  <a [routerLink]= "['/videojuegos']" [routerLinkActive]="['active']">Videojuegos</a>
  &nbsp;
  <a [routerLink]= "['/libros']" [routerLinkActive]="['active']">Libros</a>
  &nbsp;
  <a [routerLink]= "['/zapatillas']" [routerLinkActive]="['active']">Zapatillas</a>
  &nbsp;
  <a [routerLink]= "['/cursos']" [routerLinkActive]="['active']">Cursos</a>
  &nbsp;
  <a [routerLink]= "['/aplicaciones']" [routerLinkActive]="['active']">Aplicaciones</a>
</nav>
<hr />
<div style="text-align: center">
  <router-outlet></router-outlet>
</div>
<!--

  <libros></libros>
  <hr>
  <videojuego></videojuego>
  <hr />
  <button (click)=" visibilidadApis()">Mostrar / Ocultar aplicaciones</button>
  <aplicaciones *ngIf="mostrar_apis"></aplicaciones>
  <hr />
  <button (click)=" visibilidadCursos(false)" *ngIf="mostrar_cursos">Ocultar Cursos</button>
  <button (click)=" visibilidadCursos(true)" *ngIf="!mostrar_cursos">Mostrar Cursos</button>
  <cursos *ngIf="mostrar_cursos"></cursos>
  <hr />
  <zapatillas></zapatillas>
</div>
-->
